#
# Ignore files from the default docuwiki installation.
#

.htaccess
.htaccess.dist
COPYING
README
VERSION
bin/
conf/.htaccess
conf/acl.auth.php
conf/acl.auth.php.dist
conf/dokuwiki.php
conf/entities.conf
conf/license.php
conf/local.php
conf/local.php.dist
conf/mediameta.php
conf/mime.conf
conf/msg
conf/mysql.conf.php.example
conf/scheme.conf
conf/smileys.conf
conf/users.auth.php
conf/users.auth.php.dist
conf/wordblock.conf
conf/words.aspell.dist
data/
doku.php
feed.php
inc/
index.php
install.php
lib/_fla/
lib/exe/
lib/images/
lib/index.html
lib/plugins/acl/
lib/plugins/action.php
lib/plugins/admin.php
lib/plugins/config/
lib/plugins/index.html
lib/plugins/info/
lib/plugins/plugin/
lib/plugins/popularity/
lib/plugins/revert/
lib/plugins/syntax.php
lib/plugins/usermanager/
lib/plugins/safefnrecode/
lib/scripts/
lib/styles/
lib/tpl/default/
lib/tpl/index.php
