#
# Ignore files from the default dokuwiki installation.
#
.htaccess.dist
COPYING
README
VERSION
bin/
conf/.htaccess
conf/acl.auth.php
conf/acl.auth.php.dist
conf/dokuwiki.php
conf/entities.conf
conf/license.php
conf/local.php
conf/local.php.dist
conf/mediameta.php
conf/mime.conf
conf/msg
conf/mysql.conf.php.example
conf/scheme.conf
conf/plugins.local.php
conf/plugins.php
conf/plugins.required.php
conf/smileys.conf
conf/users.auth.php
conf/users.auth.php.dist
conf/wordblock.conf
conf/words.aspell.dist
data/
doku.php
feed.php
index.php
install.php
inc/
lib/_fla/
lib/exe/
lib/images/
lib/index.html
lib/plugins/acl/
lib/plugins/auth.php
lib/plugins/authad/
lib/plugins/authldap/
lib/plugins/authmysql/
lib/plugins/authpgsql/
lib/plugins/authplain/
lib/plugins/authpdo/
lib/plugins/remote.php
lib/plugins/testing/
lib/plugins/action.php
lib/plugins/admin.php
lib/plugins/config/
lib/plugins/extension/
lib/plugins/index.html
lib/plugins/info/
lib/plugins/plugin/
lib/plugins/popularity/
lib/plugins/revert/
lib/plugins/styling/
lib/plugins/syntax.php
lib/plugins/upgrade/
lib/plugins/usermanager/
lib/plugins/safefnrecode/
lib/scripts/
lib/styles/
lib/tpl/default/
lib/tpl/dokuwiki/
lib/tpl/index.php
vendor/
